# Build
/build
/cmake-build-*/
*.cmake
!**/CMakeLists.txt
!CMakeLists.txt
!*.cmake.in

# Generated JUCE code
/JuceLibraryCode
JuceDemoRunner/

# Visual Studio
.vs/
*.sln
*.suo
*.user
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# IDE
.idea/
.vscode/
.cache/
out/

# Binários e objetos
*.obj
*.o
*.pdb
*.ilk
*.lib
*.a
*.dll
*.exe
*.vst3
*.vst2
*.exp
*.map

# Logs / temporários
*.log
*.tmp
Thumbs.db

# Env local
.env
.env.local